extend ../layout.pug

block main
    .container
        .page
            include:markdown-it ../../content/moduletest.md

            p Parametern -> thisurl = #{thisurl}
            p Parametern -> route = #{navlist[3].route}
