extend ../layout.pug

block main
    .container
        .page
            h1 TESTPAGE
            p Parameter från path = #{testparam}
            p Parameter -> thisurl = #{thisurl}
            p Parameter -> route = #{navlist[3].route}
