extend ../layout.pug

block main
    .container
        .page
            h1 TESTPAGE
            p Testar #{testparam}
            p thisurl #{thisurl}
            p route #{navlist[3].route}
