.page {
    min-height: 700px;
}

.footer {
    background-color: #222222;
    color: #9d9d9d;
    // color: pink;
    min-height: 200px;
}

img[alt='100px'] {
    width: 100px;
}

img[alt='150px'] {
    width: 150px;
}

// .navbar {
//     ul {
//         list-style-type: none;
//         margin: 0;
//         padding: 0;
//         overflow: hidden;
//     }
//
//     li {
//         float: left;
//     }
//
//     li a {
//         display: block;
//         padding: 8px;
//         background-color: #dddddd;
//     }
// }
